
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

 body  {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 238,238);
}

.header{
    background-color: rgb(30,87,218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
    border-radius: 60px;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .btn-button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background-color: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.container{
    position: relative;
    left: 350px;
    top: 50px;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}
.input-box label{
    color: #333;
}
.form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.form .column{
    display: flex;
    column-gap: 15px;
}

.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    background-color: rgb(30,87,218);
}

.btn{
    height: 55px;
    width: 20%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    background-color: rgb(30,87,218);
}

.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

span{
    color: red;
}


.dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color:rgb(30,87,218) ;
}
.dropdown__menu ul{
    display: block;
    margin: 10px;
}
.dropdown__menu ul li{
    width: 150px;
    padding: 10px;
}
.dropdown__menu{
    display: none;
}

.formulario__grupo-correcto .formulario__validacion-estado{
    color: #1ed12d;
    opacity: 1;
}
.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: red;
}
.formulario__input-error{
    display: none;
    margin-bottom: 0;
    font-size: 12px;
}
.formulario__input-error-activo {
    display: block;
    color: red;
}
.formulario__mensaje-exito{
    display: none;
    margin-bottom: 0;
    font-size: 12px;
}
.formulario__mensaje-exito-activo{
    display: block;
    color: #1ed12d;
}
.formulario__mensaje-error{
    display: none;
    margin-bottom: 0;
    font-size: 12px;
}
.formulario__mensaje-error-activo{
    display: block;
    color: red;
}
/* Responsive */
@media screen and (max-width:500px) {
    
}