<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamento</title>
</head>
<body>
    {% include 'base.html' %}
    {% block content %}
        <h1>Departamento</h1>
        <form method = "POST">
            {{departamentoForm.csrf_token}}
            <p>
                {{departamentoForm.nombre.label(class = "form-label")}}
                {{departamentoForm.nombre(class = "form-control")}}
            </p>
            <p>
                {{departamentoForm.guardar(class = "btn btn-dark")}}
            </p>
        </form>
        <a href="inicio">Regresar al incio</a>
    {% endblock %}
</body>
</html>